/* YOUR CUSTOM STYLES */

.view {
	background: url("../img/hero.jpg")no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

.full-bg-img {
	color: #fff;
}
.title {
	font-weight:100;
}

.payment .fa:not(:first-child) {
	margin-left:10px;
	color:rgba(255,255,255,.8);
}

input[type="text"]:focus:not([readonly]) {
	border-color:#C00;
	box-shadow:0 1px 0 0 #C00;
	color:#fff;
}

input[type="text"]:not([readonly])+label {
	color:rgba(255,255,255,.65);
}

input[type="text"]:focus:not([readonly])+label {
	color:#fff;
}
    
    .nopadding {
        margin-top: 0 !important;
    }
    
    .navbar {
        background-color: #e24e42;
    }
    
    footer.page-footer {
        background-color: #e24e42;
        margin-top: 2rem;
    }
    
    .pattern-4 {
        background-attachment: fixed;
    }
    
    .papaya {
        background-color: #e24e42;
    }
    .papaya-i {
       	color: #e24e42;
    }
    .mustard {
        background-color: #e9b000;
    }
    
    .blush {
        background-color: #eb6e80;
    }
    
    .aqua {
        background-color: #008f95;
    }
    .aqua-i {
        color: #008f95;
    }
    
    #contact .fa {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: #1C2331;
    }
      main {
        margin-top: 3rem;
    }
    
    main .card {
        margin-bottom: 2rem;
    }
